<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <button class="d-none d-sm-inline-block btn btn-sm btn-white shadow-sm" [routerLink]="['/profil']"><i class='bx bx-chevrons-left' style='color:#7d7b7b' ></i> Précédent</button>
            <a routerLink="/addsecretaire" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class='bx bxs-user-plus' style='color:#f6f4f4'  ></i> Ajouter une secrétaire</a>

        </div>
        <div class="name">
            <span>Amina haddar</span>
        </div>
        <main class="black-border">
           
            <div class="container-fluid g-0 p-2">
                <div class="coll g-0">
                    <div class="container">
                        <img [src]="url" alt="Selected Image"><br><br>
                        <input type="file" (change)="onSelect($event)">
                    </div>
        
                    <div class="col ps-2"> 
        
                        <div class="card-body">
                            <table class="table">
                            <thead *ngFor="let item1 of  listsecretaire ">
                                    <tr >     
                                        <th><i class='bx bx-fingerprint' style='color:#898888' ></i> Id</th>
                                        <td>{{ item1.Id }}</td>
                                    </tr>  
                                    <tr >
                                        
                                         <th><i class='bx bxs-user' style='color:#838282'  ></i> Nom</th>
                                         <td>{{ item1.Nom }}</td>
                                    </tr>    
                                    <tr >
                                        
                                        <th><i class='bx bxs-user' style='color:#838282'  ></i> Prénom</th>
                                        <td>{{ item1.Prenom }}</td>
                                   </tr>  
                                    <tr >
                                        <th><i class='bx bxs-calendar'></i> Date de naissance</th>
                                        <td>{{ item1.DateNaissance }}</td>
                                    </tr> 
                                    <tr >
                                        <th><i class='bx bxs-phone' style='color:#838282' ></i> Téléphone </th>
                                        <td>{{ item1.Phone }}</td>
                                    </tr> 
                                    <tr >
                                        <th><i class='bx bxs-group' style='color:#848484' ></i> Genre </th>
                                        <td>{{ item1.Genre }}</td>
                                    </tr> 
                                    <tr >
                                        <th><i class='bx bxs-envelope' style='color:#838282' ></i> Email</th>
                                        <td>{{ item1.Email }}</td>
                                    </tr>
                                    <tr >
                                        <th><i class='bx bxs-map' style='color:#838282' ></i> Adresse</th>
                                        <td>{{ item1.Adresse }}</td>
                                    </tr>
                                    <tr >
                                        <th><i class='bx bx-timer' style='color:#838282'  ></i> Expérience</th>
                                        <td>{{ item1.Experience }}</td>
                                    </tr>
                                    <tr >
                                        <th><i class='bx bxs-edit'></i> Grade</th>
                                        <td>{{ item1.Role }}</td>
                                    </tr>
                                    <tr >
                                        <th><i class='bx bxs-calendar' style='color:#838282' ></i> Date recrutement</th>
                                        <td>{{ item1.DateRec }}</td>
                                    </tr>
                                    <tr >
                                        <th><i class='bx bx-low-vision' style='color:#585656'  ></i> Mot de passe</th>
                                        <td>{{ item1.Pass }}</td>
                                    </tr>    
                                    <tr >
                                        <th>Action</th>
                                        <td>
                                            <div class="example-button-container">
                                                <button class="btn1" mat-mini-fab color="green" (click)="edit(item1.$key) "><i class='bx bxs-edit'></i></button>
                                            </div>
                                        </td>
                                    </tr> 
 
                                </thead>

                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </main>
    </div>    
</body>
</html>