<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <i class='bx bx-plus-medical' style='color:#f6f0f0'  ></i>
        </div>
        <main>
            <section>
                <div class="titre"> 
                    <h1>Réinitialiser le mot de passe</h1>
                    <p>Veuillez entrer votre e-mail pour rechercher votte compte</p>
                </div>
                
            </section>
            <div class="tab-body" data-id="Envoyer">
                    <div class="row">
                        <i class='bx bx-envelope'></i>
                        <input type="email" class="form-control" id="email" class="input" placeholder="Email" [(ngModel)]="email"
                        required>
                    </div>
                    <a href="/login" class="link">Révenir à l'écran de connexion</a>
                    <button class="btn" (click)="resetPassword(email)">Envoyer</button>
            </div>
        </main>
    </div>
</body>
</html>




  



