<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary">Ajouter compte secrétaire</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="addSecretaireForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="id"><i class='bx bx-fingerprint' style='color:#898888' ></i> Id :</label>
                <input  type="number" name="id" id="id" formControlName="id" class="form-control" [(ngModel)]="Id">
            </div>
            <div class="form-group mb-3">
                <label for="nom"> <i class='bx bxs-user-plus'></i> Nom:</label>
                <input  type="text" name="nom" id="nom" formControlName="nom" class="form-control" [(ngModel)]="Nom">
            </div>
            <div class="form-group mb-3">
                <label for="prenom"> <i class='bx bxs-user-plus'></i> Prénom:</label>
                <input  type="text" name="prenom" id="prenom" formControlName="prenom" class="form-control" [(ngModel)]="Prenom">
            </div>
            <div class="form-group mb-3">
                <label for="dateNaissance"><i class='bx bxs-calendar'></i> Date de naissance :</label>
                <input type="date" name="dateNaissance" id="dateNaissance" formControlName="dateNaissance" class="form-control"
                    [(ngModel)]="DateNaissance">

            </div>
            <div class="form-group mb-3">
                <label for="phone"><i class='bx bxs-phone' style='color:#838282' ></i> Téléphone :</label>
                <input type="number" name="phone" id="phone" class="form-control" formControlName="phone"
                    [(ngModel)]="Phone">
            </div>

            <div class="form-group mb-3">
                <label for="genre"><i class='bx bxs-group' style='color:#848484' ></i> Genre :</label>
                <input type="text" name="sexe" id="genre" class="form-control" formControlName="genre"
                    [(ngModel)]="Genre">
            </div>

            <div class="form-group mb-3">
                <label for="email"><i class='bx bxs-envelope' style='color:#838282' ></i> Email :</label>
                <input type="email" name="email" id="email" class="form-control" formControlName="email"
                    [(ngModel)]="Email">
            </div>

            <div class="form-group mb-3">
                <label for="adresse"><i class='bx bxs-map' style='color:#838282' ></i> Adresse :</label>
                <input type="text" name="adresse" id="adresse" class="form-control" formControlName="adresse"
                    [(ngModel)]="Adresse">
            </div>

            <div class="form-group mb-3">
                <label for="experience"><i class='bx bx-timer' style='color:#838282'  ></i> Expérience :</label>
                <input type="text" name="experience" id="experience" class="form-control" formControlName="experience"
                    [(ngModel)]="Experience">
            </div>

            <div class="form-group mb-3">
                <label for="role"><i class='bx bxs-edit'></i> Grade :</label>
                <input type="text" name="role" id="role" class="form-control" formControlName="role"
                    [(ngModel)]="Role">
            </div>

            <div class="form-group mb-3">
                <label for="dateRec"><i class='bx bxs-calendar' style='color:#838282' ></i> Date recrutement:</label>
                <input type="date" name="dateRec" id="dateRec" formControlName="dateRec" class="form-control"
                    [(ngModel)]="DateRec">

            </div>

            
            <div class="form-group mb-3">
                <label for="pass"><i class='bx bx-low-vision' style='color:#585656'  ></i> Mot de passe:</label>
                <input type="password" name="pass" id="pass" formControlName="pass" class="form-control"
                    [(ngModel)]="Pass">

            </div>
            
            

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="addSecretaireForm.invalid"><i class='bx bxs-user-plus' style='color:#f6f4f4'  ></i> Ajouter</button>
                <button class="d-none d-sm-inline-block btn btn-sm btn-white shadow-sm" [routerLink]="['/secretaire']"><i class='bx bx-chevrons-left' style='color:#7d7b7b' ></i> Précédent</button>
            </div>




        </form>
    </div>
</div>
