<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary">Ajouter une facture</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="addFactureForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label for="id"><i class='bx bx-fingerprint' style='color:#898888' ></i> Id :</label>
                <input type="number" name="id" id="id" formControlName="id" class="form-control"
                    [(ngModel)]="Id">

            </div>
            <div class="form-group mb-3">
                <label for="nom"><i class='bx bxs-user' style='color:#838282'  ></i> Patient :</label>
                <input type="text" name="nom" id="nom" formControlName="nom" class="form-control" [(ngModel)]="Nom">
            </div>
           
            <div class="form-group mb-3">
                <label for="date"><i class='bx bxs-calendar'></i> Date :</label>
                <input type="date" name="date" id="date" class="form-control" formControlName="date"
                    [(ngModel)]="Date">
            </div>

            <div class="form-group mb-3">
                <label for="service"><i class='bx bxs-first-aid'></i> Service :</label>
                <input type="tetx" name="service" id="service" class="form-control" formControlName="service"
                    [(ngModel)]="Service">
            </div>

            <div class="form-group mb-3">
                <label for="quantite">Nombre de séance :</label>
                <input type="number" name="quantite" id="quantite" class="form-control" formControlName="quantite"
                    [(ngModel)]="Quantite">
            </div>

            <div class="form-group mb-3">
                <label for="etat"><i class='bx bx-dollar' style='color:#898888' ></i> Etat de paiement :</label>
                <input type="text" name="etat" id="etat" class="form-control" formControlName="etat"
                    [(ngModel)]="Etat">
            </div>


            <div class="form-group mb-3">
                <label for="prix"><i class='bx bx-dollar' style='color:#898888' ></i> Prix :</label>
                <input type="text" name="prix" id="prix" class="form-control" formControlName="prix"
                    [(ngModel)]="Prix">
            </div>


            <div class="form-group mb-3">
                <label for="total"><i class='bx bx-dollar' style='color:#898888' ></i> Total :</label>
                <input type="text" name="total" id="total" class="form-control" formControlName="total"
                    [(ngModel)]="Total">
            </div>
            

            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="addFactureForm.invalid"><i class='bx bx-plus'></i>Ajouter</button>
                <button class="d-none d-sm-inline-block btn btn-sm btn-white shadow-sm" [routerLink]="['/facture']"><i class='bx bx-chevrons-left' style='color:#7d7b7b' ></i>Précédent</button>
            </div>




        </form>
    </div>
</div>

