<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="head">
    <div class="container flex1">
      <div class="social">
        <p>Bienvenu à mon site web</p>
      </div>
      <div class="logo">
        <img src="../assets/images/logo.png" alt="">
        <span>Kiné 2S</span>
      </div>

      
      <div class="adress">
        <p>2023/2024<p>
      </div>
    </div>
  </section> 
  <header class="header">
    <div class="container">
      <nav class="navbar flex1">
        <div class="sticky_logo logo">
        </div>
        <ul class="nav-menu">
          <li><a href="acceuil">Acceuil</a></li>
          <li><a href="apropos">A propos de nous</a></li>
          <li><a href="equipe">Experts</a></li>
          <li><a href="services">Services</a></li>
          <li><a href="rendez-vous">Rendez-vous</a></li>
          <li><a href="newsletter">Actualité</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="avis">Avis</a></li>
          <li><i class='bx bx-log-in-circle' ></i><a href="login">connexion</a></li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>


        <div class="head_contact">
          <a href="https://contacts.google.com/"><i class='bx bxs-phone-call'></i></a>
        </div>
      </nav>
    </div>
  </header>
  <script>
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".nav-menu");

    hamburger.addEventListener("click", mobilemenu);

    function mobilemenu() {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    }

    window.addEventListener("scroll", function() {
      var header = document.querySelector("header");
      header.classList.toggle("sticky", window.scrollY > 0)
    })
  </script>
  <router-outlet></router-outlet>
</body>
</html>

