<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br>
    <h1 class="heading"></h1> 
    <section class="avis" id="avis">
        <div class="contenu">
            <div class="box">
                <div class="imbox">
                    <img src="../assets/images/patient1.png" alt="">
                </div>
               
                <div class="text">
                    <h3>Maya</h3>
                    <div class="review-stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                    </div>
                    <p>Kiné Sport Santé est une kiné professionnel et trés efficace et service trés rapide <i class='bx bx-happy-heart-eyes' style='color:#bd9d12'  ></i></p>
                    
                </div>
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="../assets/images/patient2.png" alt="">
                </div>
                <div class="text">
                   
                    <h3>Yesmin</h3>
                    <div class="review-stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star-half'></i>
                    </div>
                    <p>Je suis satisfaite de votre site est trés professione et j'aime d'interface de nouveauté<i class='bx bx-happy-beaming' style='color:#9b8214'  ></i></p>
                </div>
            </div>
            <div class="box">
                <div class="imbox">
                    <img src="../assets/images/patient3.jpeg" alt="">
                </div>
                <div class="text">
                    <h3>Amel</h3>
                    <div class="review-stars">
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bxs-star' ></i>
                        <i class='bx bx-star' ></i>
                    </div>
                    <p>Je suis satisfaite de votre kiné et un site est trés rapide.j'aime d'interface de rendez-vous  <i class='bx bx-smile' style='color:rgba(111,85,14,0.77)'  ></i></p>
                </div>
            </div>
        </div>
    </section>
    <br>

    <footer class="distrubited">
        <div class="row">
        <div class="col">
            <h3>Liens</h3>
            <ul>
                <li><a href="acceuil">Acceuil</a></li><br>
                <li><a href="a propos de nous">A propos de nous</a></li><br>
                <li><a href="experts">Experts</a></li><br>
                <li><a href="services">Services</a></li><br>
                <li><a href="rendez-vous">Rendez-vous</a></li><br>
                <li><a href="newsletter">Actualité</a></li><br>
                <li><a href="contact">Contact</a></li><br>
                <li><a href="avis">Avis</a></li><br>
            </ul>
        </div>
        <div class="col">
            <h3>Contactez-nous</h3>
            <div class="adress">
                <a href="https://www.google.com/maps/@34.8002525,10.7546653,15z?entry=ttu"> <i class='bx bxs-map' style='color:#000'  ></i></a>
                <span>Route mahdia klm3, Sfax</span>
            </div>
    
            <br><br>
    
    
            <div>
                <a href="https://contacts.google.com/"><i class='bx bxs-phone-call' style='color:#000' ></i></a>
                <span>74589123</span>
            </div>
            <br><br>
            <div>
                <a href="https://www.gmail.com/"> <i class='bx bxs-envelope' style='color:#000' ></i></a>
                <span>contact@gmail.com</span>
            </div>
        </div>
        <div class="col">
            <h3>Social média</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com"><i class='bx bxl-facebook-circle' style='color:#0f2cea'  ></i></a>
                <a href="https://www.instagram.com"><i class='bx bxl-instagram-alt' style='color:#ea0f8b'  ></i></a>
                <a href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp-square' style='color:#60ea0f' ></i></a>
                <a href="https://www.youtube.com"><i class='bx bxl-youtube bx-flip-vertical' style='color:#ea0f0f'  ></i></a>
            </div>
        </div>
    </div>
    <hr>
    <div class="fleche"><a href="avis"><i class='bx bx-up-arrow-alt' style='color:#ea801b'  ></i></a></div>
    <p class="copyright">&copy; 2024  Kiné Sport Santé - Touts droits reservée</p>
    </footer>  
</body>
</html>



















