<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1>Listes des comptes des kinés</h1>
        <a routerLink="/profil" class="d-none d-sm-inline-block btn btn-sm btn-white shadow-sm"><i class='bx bx-chevrons-left' style='color:#7d7b7b' ></i> Précédent</a>
        <a routerLink="/addkine" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class='bx bxs-user-plus' style='color:#f6f4f4'  ></i> Ajouter un compte</a>
    </div>

    <div class="form-outline mt-3">
        <input type="search" [(ngModel)]="searchtext" id="form1" class="form-control" placeholder="Rechercher"  aria-label="search"/>
      </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th><i class='bx bx-fingerprint' style='color:#898888' ></i> Id</th>
                    <th><i class='bx bxs-user' style='color:#838282'  ></i> Nom </th>
                    <th><i class='bx bxs-user' style='color:#838282'  ></i> Prénom</th>
                    <th><i class='bx bxs-calendar'></i> Date de naissance</th>
                    <th><i class='bx bxs-phone' style='color:#838282' ></i> Téléphone</th>
                    <th><i class='bx bxs-user' style='color:#838282'  ></i> Genre</th>
                    <th><i class='bx bxs-map' style='color:#838282' ></i> Adresse</th>
                    <th><i class='bx bxs-first-aid'></i> Service</th>
                    <th><i class='bx bxs-calendar' style='color:#838282' ></i> Date du recrutement</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let item1 of  listkine|filter:searchtext ">
                    <td>{{ item1.Id }}</td>
                    <td>{{ item1.Nom }}</td>
                    <td>{{ item1.Prenom }}</td>
                    <td>{{ item1.DateNaissance }}</td>
                    <td>{{ item1.Phone }}</td>
                    <td>{{ item1.Sexe }}</td>
                    <td>{{ item1.Adresse }}</td>
                    <td>{{ item1.Service }}</td>
                    <td>{{ item1.DateRec }}</td>
                  
                    <td>
                        <div class="example-button-container">
                            <button class="btn1" mat-mini-fab color="green" (click)="edit(item1.$key) "><i class='bx bxs-edit'></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

