<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <section class="part1">
        <h1>Passez plus de temps avec vos patients, moins au téléphone!</h1>
        <h1>Prise de rendez-vous en ligne</h1>
        <br><br>
       <h2>Vos patients peuvent avoir un compte en ligne. Ils pourront ainsi :</h2>
       <ul>
        <h2>Faire une demande de rendez-vous en ligne dans un créneau disponible si vous lui en avez donné le droit dans sa tranche horaire personnelle.</h2>
        <h2> L'admis(Docteur, secrétaire) recevra un mail.</h2>
       </ul> 
   </section>
   <div>
    <button><a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-ref="connexion" href="https://calendly.com/tasnimderbel425/30min">Prenez rdv sur Calendly</a></button>
</div>


</body>
</html>