<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>
<body>
  <section class="services" id="services">
    <h1 class="heading">Nos Services</h1>
    <div class="box-conatiner">
      <div class="box">
        <img src="../assets/images/massage.jpeg" class="card-img-top" alt="image">
        <div class="content">
          <h3>Massage</h3>
          <p>Le massage est l'application d'un ensemble de techniques manuelles qui visent le mieux-être des personnes grâce à l'exécution de mouvements des mains sur les différents tissus vivants.</p>
        </div>
      </div>

      <div class="box">
        <img src="../assets/images/sport.jpg" class="card-img-top" alt="image">
        <div class="content">
          <h3>Sport</h3>
          <p>Le sport est une activité physique qui est pratiquée individuellement ou en équipe, dans un but de loisir, de compétition ou de santé.</p>
        </div>
      </div>

      <div class="box">
        <img src="../assets/images/amincissementt.png" class="card-img-top" alt="image">
        <div class="content">
          <h3>Amincissement</h3>
          <p>L'amincissement n'a jamais été aussi facile: <br>
            découvrir les techniques adaptées à vos besoins et amincissez votre corps rapidement.</p>
        </div>
      </div>   

      <div class="box">
        <img src="../assets/images/Acupuncture chinoise.jpg" class="card-img-top" alt="image">
        <div class="content">
          <h3>Aiguilles chinoises</h3>
          <p>Ces aiguilles  sont utilisées pour la pratique de l'acupuncture pour faciliter la pénétration et réduire de potentielles douleurs.</p>
        </div>
      </div>

      <div class="box">
        <img src="../assets/images/Sangsues.jpg" class="card-img-top" alt="image">
        <div class="content">
          <h3>Ver à sangsues</h3>
          <p>Ver à sangsues qui vit dans les eaux stagnantes et qui se fixe à la peau pour aspirer le sang.</p>
        </div>
      </div>

      <div class="box">
        <img src="../assets/images/ventouse7.jpg" class="card-img-top" alt="image">
        <div class="content">
          <h3>Ventouses médicales</h3>
          <p>Les ventouses chinoises s'utilisent à la fois sur des points fixes sur lesquels on va venir les poser durant plusieurs minutes de 2 à 20 minutes selon les parties du corps ou en massage pour améliorer la circulation sanguine.</p>
        </div>
      </div>    
    </div>
  </section>

  <section id="content">
        

    <main>
      <div class="table-data">
        <div class="order">
            <div class="head">
              <h1>Les prix de séance du services</h1>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom du service</th>
                        <th>Prix par séance</th>
                        <th>Prix mensuelle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="../assets/images/massage.jpeg" alt="">
                            <p>Massage</p>
                        </td>
                        <td>30DT</td>
                        <td><span class="statuts chinoise">100DT</span></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/sport.jpg" alt="">
                            <p>Sport</p>
                        </td>
                        <td>30DT</td>
                        <td><span class="statuts amin">100DT</span></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/amincissementt.png" alt="">
                            <p>Amincissement</p>
                        </td>
                        <td>20DT</td>
                        <td><span class="statuts massage">70DT</span></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/Acupuncture chinoise.jpg" alt="">
                            <p>Aiguilles chinoises</p>
                        </td>
                        <td>40DT</td>
                        <td><span class="statuts sport">140DT</span></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/Sangsues.jpg" alt="">
                            <p>Ver à sangsues</p>
                        </td>
                        <td>25DT</td>
                        <td><span class="statuts sport">90DT</span></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../assets/images/ventouse7.jpg" alt="">
                            <p>Ventouses médicales</p>
                        </td>
                        <td>40DT</td>
                        <td><span class="statuts sport">130DT</span></td>
                    </tr>
                   
                    
                </tbody>
            </table>
        </div>
    </div>
    </main>
</section>

<footer class="distrubited">
  <div class="row">
  <div class="col">
      <h3>Liens</h3>
      <ul>
        <li><a href="acceuil">Acceuil</a></li><br>
        <li><a href="a propos de nous">A propos de nous</a></li><br>
        <li><a href="experts">Experts</a></li><br>
        <li><a href="services">Services</a></li><br>
        <li><a href="rendez-vous">Rendez-vous</a></li><br>
        <li><a href="newsletter">Actualité</a></li><br>
        <li><a href="contact">Contact</a></li><br>
        <li><a href="avis">Avis</a></li><br>
      </ul>
  </div>
  <div class="col">
      <h3>Contactez-nous</h3>
      <div class="adress">
          <a href="https://www.google.com/maps/@34.8002525,10.7546653,15z?entry=ttu"> <i class='bx bxs-map' style='color:#000'  ></i></a>
          <span>Route mahdia klm3, Sfax</span>
      </div>

      <br><br>


      <div>
          <a href="https://contacts.google.com/"><i class='bx bxs-phone-call' style='color:#000' ></i></a>
          <span>74589123</span>
      </div>
      <br><br>
      <div>
          <a href="https://www.gmail.com/"> <i class='bx bxs-envelope' style='color:#000' ></i></a>
          <span>contact@gmail.com</span>
      </div>
  </div>
  <div class="col">
      <h3>Social média</h3>
      <div class="social-icons">
          <a href="https://www.facebook.com"><i class='bx bxl-facebook-circle' style='color:#0f2cea'  ></i></a>
          <a href="https://www.instagram.com"><i class='bx bxl-instagram-alt' style='color:#ea0f8b'  ></i></a>
          <a href="https://www.whatsapp.com/"><i class='bx bxl-whatsapp-square' style='color:#60ea0f' ></i></a>
          <a href="https://www.youtube.com"><i class='bx bxl-youtube bx-flip-vertical' style='color:#ea0f0f'  ></i></a>
      </div>
  </div>
</div>
<hr>
<div class="fleche"><a href="services"><i class='bx bx-up-arrow-alt' style='color:#ea801b'  ></i></a></div>
<p class="copyright">&copy; 2024  Kiné Sport Santé - Touts droits reservée</p>
</footer>  
</body>
</html>