<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    
    <div class="container">
        <h1>Inscription</h1>
        <div class="logo">
            <i class='bx bx-plus-medical' style='color:#f6f0f0'  ></i>
        </div>

        <div class="tab-body" data-id="inscription">
            <form [formGroup]="myForm" (ngSubmit)="saveUser()">
                <div class="row">
                    <i class='bx bxs-user'></i>
                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" class="input" placeholder="Nom complet" formControlName="nom">
                </div>

                <div class="row">
                    <i class='bx bx-envelope'></i>
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" class="input" placeholder="Email" formControlName="email">
                </div>
    
                <div class="row">
                    <i class='bx bxs-lock-alt' ></i>
                    <input type="password"  class="form-control form-control-user" id="exampleInputPassword" class="input" placeholder="Mot de passe" formControlName="password">
                </div>
                <div class="row">
                    <i class='bx bxs-lock-alt' ></i>
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" class="input" placeholder="Confirm mot de passe">
                </div>
     
                <button  class="btn" click="Envoyer">S'inscrire</button>
                <p>Vous avez de compte ?<a class="tab-link active" data-ref="connexion" href="login">Connexion</a></p>
            </form>   
            
            
        </div>      
    </div>          
</body>
</html>